{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Zápisky pro rok 2020/2021
</h1>
<p>Na této stránce nalezneš poznámky Matěje Červenky z 2. pololetí 2020/21 na GJK.</p>
<img src="https://github.com/cervthecoder/github_images/blob/master/logo_white.png?raw=true">
<iframe src="https://calendar.google.com/calendar/embed?height=400&amp;wkst=2&amp;bgcolor=%23616161&amp;ctz=Europe%2FPrague&amp;src=eGNlcm1hMDJAZ2prLmN6&amp;color=%23039BE5&amp;mode=WEEK&amp;showTitle=0&amp;showNav=0&amp;showTz=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showDate=0" style="border:solid 1px #777" width="860" height="400" frameborder="0" scrolling="no"></iframe>
{% endblock content %}